<ng-container>
  <mat-toolbar color="primary" class="header">
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>stl-ayyappa-sannidhanam</span>
    <div class="flex-spacer"></div>
    <button mat-icon-button [matMenuTriggerFor]="appMenu" class="float-right">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer mode="side" 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      class="sidenav" fixedInViewport="false">
      <app-menu></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-alert></app-alert>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-menu #appMenu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Help</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </ng-template>
  </mat-menu>

  <mat-toolbar class="footer">Footer</mat-toolbar>
</ng-container>
  