<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form"  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="First Name" formControlName="firstName" name="firstName" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Last Name" formControlName="lastName" name="lastName" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" formControlName="username" name="username" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Password" formControlName="password" type="password" name="password" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-spinner [style.display]="loading ? 'block' : 'none'" class="example-icon"></mat-spinner>
              <mat-card-actions class="example-full-width">
                <button mat-raised-button type="submit" [disabled]="loading" color="primary">Register</button>
                <a routerLink="/login" class="btn btn-link">Cancel</a>
              </mat-card-actions>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
  </mat-card>